.container {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mainContent {
    display: flex;
    align-items: center;
    flex: 0.3;
    min-height: fit-content;
    overflow: hidden;
    justify-content: center;
    margin: -2rem 0;
}

.carouselContainer {
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding-bottom: 1rem;
}

.leftContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rightContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;
        justify-content: center;
        flex: 0.25;
        margin: -1.5rem 0;
    }

    .carouselContainer {
        flex: 0.55;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
    }

    .leftContent {
        flex: 0.6;
        width: 100%;
        margin-bottom: 0;
    }

    .rightContent {
        flex: 0.4;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}
