.container {
    /*display: flex;*/
}

.mainContent {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.leftContent {
    /*flex: 1;*/
    /*text-align: right;*/
    margin-right: 5vw;  /* Add some space between the text and carousel */
    /*justify-content: right;*/
}

.rightContent {
    /*flex: 1;*/
    /*display: flex;*/
    /*justify-content: left;*/
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .mainContent {
        flex-direction: column;  /* Stack text above carousel */
        align-items: flex-start;
    }

    .leftContent {
        margin-right: 0;  /* Remove space on smaller screens */
        margin-bottom: 20px;  /* Add space below the text */
    }

    .rightContent {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
