.container {
    /*display: flex;*/
}

.mainContent {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.leftContent {
    /*flex: 1;*/
    /*text-align: right;*/
    margin-right: 5vw;  /* Add some space between the text and carousel */
    /*justify-content: right;*/
}

.rightContent {
    /*flex: 1;*/
    /*display: flex;*/
    /*justify-content: left;*/
}
